In [1]:
import plotly
import plotly.plotly as py
import pandas as pd
from config import api_key
import json
from states_trans import states
from ploting_headmaps import main

In [2]:
# Converting JSON to DataFrame sorted by 'Week' and 'state'
with open('plot_state.json') as plot_state_file:
   plot_state_dict = json.load(plot_state_file)
df_state = pd.DataFrame(plot_state_dict)
df_state = df_state.sort_values(by=['week', 'state'])
df_state.head()

      flu_cases  flu_percent       state  vac_percent  vaccinations  week
1347          0          0.0     Alabama     0.001551      543514.0   1.0
1200          0          0.0      Alaska     0.000646       75898.0   1.0
1550          0          0.0     Arizona     0.001086      609729.0   1.0
1449          0          0.0    Arkansas     0.000186      418858.0   1.0
1202          0          0.0  California     0.002571     2666921.0   1.0

In [3]:
# state resident population from 2012 to 2017
state_pop = pd.read_csv('STATE_POP.csv').T
state_pop = state_pop.rename(index=str, columns={0:'2012',1:'2013',2:'2014',3:'2015',4:'2016',5:'2017'})
state_pop

,2012,2013,2014,2015,2016,2017
Alabama,4813.946,4827.660,4840.037,4850.858,4860.545,4874.747
Alaska,730.825,736.760,736.759,737.979,741.522,739.795
Arizona,6544.211,6616.124,6706.435,6802.262,6908.642,7016.270
Arkansas,2949.208,2956.780,2964.800,2975.626,2988.231,3004.279
California,38019.006,38347.383,38701.278,39032.444,39296.476,39536.653
Colorado,5186.330,5262.556,5342.311,5440.445,5530.105,5607.154
Connecticut,3597.705,3602.470,3600.188,3593.862,3587.685,3588.184
Delaware,916.868,925.114,934.805,944.107,952.698,961.939
Florida,19341.327,19584.927,19897.747,20268.567,20656.589,20984.400
Georgia,9911.171,9981.773,10083.850,10199.533,10313.620,10429.379
Hawaii,1392.772,1408.038,1417.710,1426.320,1428.683,1427.538
Idaho,1594.673,1610.187,1630.391,1649.324,1680.026,1716.943
Illinois,12878.494,12890.403,12882.438,12862.051,12835.726,12802.023
Indiana,6535.665,6567.484,6593.182,6610.596,6634.007,6666.818
Iowa,3074.386,3089.876,3105.563,3118.473,3130.869,3145.711
Kansas,2885.316,2892.900,2899.553,2905.789,2907.731,2913.123
Kentucky,4383.673,4399.121,4410.415,4422.057,4436.113,4454.189
Louisiana,4602.681,4626.795,4648.797,4671.211,4686.157,4684.333
Maine,1328.101,1327.975,1328.903,1327.787,1330.232,1335.907
Maryland,5891.680,5932.654,5970.245,6000.561,6024.752,6052.177
Massachusetts,6659.627,6711.138,6757.925,6794.002,6823.721,6859.819
Michigan,9886.610,9899.219,9914.675,9918.170,9933.445,9962.311
Minnesota,5377.695,5416.074,5452.649,5483.238,5525.050,5576.606
Mississippi,2982.963,2987.721,2988.578,2985.297,2985.415,2984.100
Missouri,6023.267,6041.142,6058.014,6072.640,6091.176,6113.532
Montana,1003.522,1011.921,1019.931,1028.317,1038.656,1050.493
Nebraska,1854.862,1867.414,1880.920,1893.564,1907.603,1920.076
Nevada,2752.410,2786.547,2831.730,2883.057,2939.254,2998.039
New Hampshire,1320.923,1322.622,1328.684,1330.134,1335.015,1342.795
New Jersey,8882.095,8913.735,8943.010,8960.001,8978.416,9005.644
New Mexico,2083.590,2085.161,2083.207,2082.264,2085.432,2088.070
New York,19625.409,19712.514,19773.580,19819.347,19836.286,19849.399
North Carolina,9755.299,9849.812,9941.160,10041.769,10156.689,10273.419
North Dakota,701.380,722.908,738.658,754.859,755.548,755.393
Ohio,11546.969,11567.845,11593.741,11606.027,11622.554,11658.609
Oklahoma,3815.298,3849.840,3875.008,3904.353,3921.207,3930.864
Oregon,3893.920,3919.664,3960.673,4016.537,4085.989,4142.776
Pennsylvania,12768.034,12778.450,12790.341,12791.124,12787.085,12805.537
Rhode Island,1052.761,1052.784,1054.782,1055.916,1057.566,1059.639
South Carolina,4719.009,4765.862,4824.758,4892.423,4959.822,5024.369
South Dakota,832.576,842.513,849.455,854.036,861.542,869.666
Tennessee,6450.632,6490.795,6540.007,6590.726,6649.404,6715.984
Texas,26078.327,26479.279,26954.436,27454.880,27904.862,28304.596
Utah,2854.222,2899.961,2938.671,2984.917,3044.321,3101.833
Vermont,625.606,626.044,625.665,624.455,623.354,623.657
Virginia,8188.656,8261.689,8316.902,8366.767,8414.380,8470.020
Washington,6890.899,6963.410,7046.931,7152.818,7280.934,7405.743
West Virginia,1855.360,1852.333,1847.624,1839.767,1828.637,1815.857
Wisconsin,5721.075,5736.673,5751.272,5759.744,5772.917,5795.483
Wyoming,576.608,582.341,583.334,586.102,584.910,579.315

In [7]:
# Sum up all flu cases and flu percent in each state
df_grouped_flu = df_state.groupby(['state']).sum()
df_grouped_flu = df_grouped_flu[['flu_cases','flu_percent']]
df_grouped_flu.head()

            flu_cases  flu_percent
state
Alabama         55365     6.713758
Alaska           5429     0.658340
Arizona         16214     1.966168
Arkansas         5572     0.675681
California      34550     4.189656

In [9]:
# Accumulated Vaccination Rate and Cases in each state
df_grouped_vac = df_state.loc[df_state['week']==25,['state','vac_percent','vaccinations']]
df_grouped_vac.head()

          state  vac_percent  vaccinations
924     Alabama     0.391399      543514.0
925      Alaska     0.330615       75898.0
926     Arizona     0.455000      609729.0
927    Arkansas     0.436253      418858.0
928  California     0.414922     2666921.0

In [10]:
# Creat a State Abrreviation table

state_name_df = pd.DataFrame({"state":df_state['state'].unique()})
state_name_df['code'] = [states[i] for i in state_name_df['state']]
state_name_df.head()

        state code
0     Alabama   AL
1      Alaska   AK
2     Arizona   AZ
3    Arkansas   AR
4  California   CA

In [11]:
# Add coresponding State code to grouped flu table

df_grouped_flu['code'] = list(state_name_df['code'])
df_grouped_flu['code'] =df_grouped_flu['code'].astype(str)
df_grouped_flu.tail(10)

               flu_cases  flu_percent code
state
South Dakota        7771     0.942339   SD
Tennessee           6350     0.770024   TN
Texas              54381     6.594434   TX
Utah                7126     0.864124   UT
Vermont             3913     0.474504   VT
Virginia           99177    12.026557   VA
Washington          3099     0.375796   WA
West Virginia       8111     0.983569   WV
Wisconsin           4125     0.500212   WI
Wyoming             3758     0.455709   WY

In [12]:
# Add coresponding State code to grouped flu table
df_grouped_vac['code'] = list(state_name_df['code'])
df_grouped_vac['code'] = df_grouped_vac['code'].astype(str)
df_grouped_vac.head(10)

           state  vac_percent  vaccinations code
924      Alabama     0.391399      543514.0   AL
925       Alaska     0.330615       75898.0   AK
926      Arizona     0.455000      609729.0   AZ
927     Arkansas     0.436253      418858.0   AR
928   California     0.414922     2666921.0   CA
929     Colorado     0.477114      421880.0   CO
930  Connecticut     0.537575      381361.0   CT
931     Delaware     0.542855      150228.0   DE
932      Florida     0.429383     2057192.0   FL
933      Georgia     0.428448      846313.0   GA

In [13]:
# change state flu percentage to (flu_cases/state resident population)
df_flu_vac = pd.merge(df_grouped_vac, df_grouped_flu, on="code")
df_flu_vac['population'] = [float(state_pop.loc[st,str(2017)]) for st in df_flu_vac['state']]
df_flu_vac['flu_percent'] = df_flu_vac['flu_cases']/(df_flu_vac['population']*10)
df_flu_vac

,state,vac_percent,vaccinations,code,flu_cases,flu_percent,population
0,Alabama,0.391399,543514.0,AL,55365,1.135751,4874.747
1,Alaska,0.330615,75898.0,AK,5429,0.733852,739.795
2,Arizona,0.455000,609729.0,AZ,16214,0.231091,7016.270
3,Arkansas,0.436253,418858.0,AR,5572,0.185469,3004.279
4,California,0.414922,2666921.0,CA,34550,0.087387,39536.653
5,Colorado,0.477114,421880.0,CO,10952,0.195322,5607.154
6,Connecticut,0.537575,381361.0,CT,3435,0.095731,3588.184
7,Delaware,0.542855,150228.0,DE,815,0.084725,961.939
8,Florida,0.429383,2057192.0,FL,0,0.000000,20984.400
9,Georgia,0.428448,846313.0,GA,73206,0.701921,10429.379
10,Hawaii,0.425407,102396.0,HI,1302,0.091206,1427.538
11,Idaho,0.404020,179132.0,ID,539,0.031393,1716.943
12,Illinois,0.467381,1358794.0,IL,35084,0.274050,12802.023
13,Indiana,0.482086,762013.0,IN,4282,0.064229,6666.818
14,Iowa,0.535187,432492.0,IA,1581,0.050259,3145.711
15,Kansas,0.459352,372808.0,KS,9183,0.315229,2913.123
16,Kentucky,0.428638,547480.0,KY,13987,0.314019,4454.189
17,Louisiana,0.408658,470327.0,LA,75232,1.606034,4684.333
18,Maine,0.440580,194959.0,ME,875,0.065499,1335.907
19,Maryland,0.502540,711185.0,MD,4908,0.081095,6052.177
20,Massachusetts,0.517536,805960.0,MA,20144,0.293652,6859.819
21,Michigan,0.451870,1083679.0,MI,16060,0.161208,9962.311
22,Minnesota,0.487254,318066.0,MN,4923,0.088280,5576.606
23,Mississippi,0.396512,432867.0,MS,28610,0.958748,2984.100
24,Missouri,0.440983,681460.0,MO,5661,0.092598,6113.532
25,Montana,0.415343,147519.0,MT,249,0.023703,1050.493
26,Nebraska,0.505032,248111.0,NE,9300,0.484356,1920.076
27,Nevada,0.374059,248792.0,NV,7894,0.263305,2998.039
28,New Hampshire,0.491590,209937.0,NH,1391,0.103590,1342.795
29,New Jersey,0.495183,991819.0,NJ,30456,0.338188,9005.644
30,New Mexico,0.377601,212102.0,NM,16920,0.810318,2088.070
31,New York,0.475006,1662613.0,NY,13077,0.065881,19849.399
32,North Carolina,0.504825,1109150.0,NC,13456,0.130979,10273.419
33,North Dakota,0.494179,88306.0,ND,674,0.089225,755.393
34,Ohio,0.488068,1138065.0,OH,10013,0.085885,11658.609
35,Oklahoma,0.464597,500584.0,OK,10401,0.264598,3930.864
36,Oregon,0.427846,355724.0,OR,24362,0.588060,4142.776
37,Pennsylvania,0.511680,1268381.0,PA,38783,0.302861,12805.537
38,Rhode Island,0.485775,88926.0,RI,3224,0.304255,1059.639
39,South Carolina,0.466808,646384.0,SC,9021,0.179545,5024.369
40,South Dakota,0.468015,113366.0,SD,7771,0.893561,869.666
41,Tennessee,0.473652,697206.0,TN,6350,0.094551,6715.984
42,Texas,0.439954,2049013.0,TX,54381,0.192128,28304.596
43,Utah,0.474488,191377.0,UT,7126,0.229735,3101.833
44,Vermont,0.461853,108409.0,VT,3913,0.627428,623.657
45,Virginia,0.500844,967232.0,VA,99177,1.170918,8470.020
46,Washington,0.460589,726023.0,WA,3099,0.041846,7405.743
47,West Virginia,0.389781,263987.0,WV,8111,0.446676,1815.857
48,Wisconsin,0.520137,563576.0,WI,4125,0.071176,5795.483
49,Wyoming,0.419563,86509.0,WY,3758,0.648697,579.315

In [14]:
# Call ploting function defined in file 'ploting_headmaps'
main.plot_heatmaps(df_flu_vac,2017)